[Desktop Entry]
Encoding=UTF-8
Name=Link to “jhu logo .gif”的图片搜索结果 220 × 104 - go.hub.jhu.edu 
Type=Link
URL=https://www.google.com/imgres?imgurl=https%3A%2F%2Fgo.hub.jhu.edu%2Ftheme%2Fimages%2Flogos%2Funiversity-logo-small-vertical-white-no-clear-space-on-288-blue-8267aa6368.gif&imgrefurl=https%3A%2F%2Fgo.hub.jhu.edu%2Fsubmit-event%2F&docid=Q3lf100EKW95xM&tbnid=oxJYSTTWQ6CNLM%3A&vet=10ahUKEwjRmIOg_Y_YAhVIeSYKHXdpBvwQMwgoKAEwAQ..i&w=220&h=104&bih=541&biw=1024&q=jhu%20logo%20.gif&ved=0ahUKEwjRmIOg_Y_YAhVIeSYKHXdpBvwQMwgoKAEwAQ&iact=mrc&uact=8
Icon=text-html
